body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

main{
  padding-top: 32px;
}

.main-header{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;

}

.background{
  background: url("../image/plans-background.jpg");
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.package{
    width: 80%;
    margin: 16px 0;
    border: 4px solid #0e4f1f;
    border-left: none;
    position: relative;
    overflow: hidden;
}

.package__badge{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: #fe5454;
  padding: 8px;
  font-size: 12px;
  transform-origin: center;
  transform: rotateZ(45deg) translateX(3rem) translateY(-1rem);
  width: 12rem;
  text-align: center;
}

.package a{
      text-decoration: none;
        color: inherit;
        display: block;
        padding: 32px;
}

.package__subtitle{
  color: #979797;
}

.package__info{
  padding: 16px;
  border: 1px solid #0e4f1f;
  font-size: 20px;
  color: #0e4f1f;
  background: whitesmoke;
} 

.package:hover,
.package:active{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #e8a3a3;
  animation: push-up 1s ease-in-out forwards;
}

#plus-plan{
  background: rgba(213, 255, 220, 0.95);
}

.clearfix{
  clear:both;
}

#free-plan{
  background: rgba(234, 252, 231, 0.95);
  float: right;
  border-right: none;
  border-left: 4px solid #0e4f1f;
  text-align: right;

}

#free-plan:hover,
#free-plan:active{
  border-left-color: #e8a3a3;
}

#premium-plan{
  background: rgba(14, 79, 31, 0.95);
}

#premium-plan .package__title{
  color: whitesmoke;

}

#premium-plan .package__subtitle{
  color: #bbb;
}

@media (min-width:40rem){
  main{
    margin: 3rem auto;
    max-width: 1500px;
  }

}

@media (min-width:1500px){
  .package{
    border-left: 4px solid #0e4f1f;
  }

  #free-plan{
    border-right: 4px solid #0e4f1f;
  }

  #free-plan:hover,
  #free-plan:active{
    border-right-color: #e8a3a3;
  }
}

@keyframes push-up{
  0%{
    transform: translateY(0);

  }
  33%{
    transform: translateY(-1.5rem);
  }
  100%{
    transform: translateY(-1rem);
  }
}