body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

#product-overview {
    background: #ff1b68;
    height: 400px;
    width: 528px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    /* height: 10px; */
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.main-header{
    width: 100%;
    background: #0eff1f;
    padding: 8px 0;

}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}

.main-header__brand{
    color: green; 
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 85px);
    vertical-align: middle;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item > a{
    text-decoration: none;
    margin: 0 16px;
    color:#0e4f1f;
}

.main-nav__item a::after{
    content:" (link)";
    color:tomato;
}

.main-nav__item a:hover{
    color:whitesmoke;
}

.main-nav__item a:active{
    color: #ff1b68;
}

p::first-letter{
    color: #ff1b68;
    font-size: 20px;
}


/* h1 {
    font-family: sans-serif;
} */