*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    /* box-sizing: border-box; */
}

#product-overview{
    background: #ff1b68;
    width: 100%;
}

/* this is called combinator */
#product-overview h1{
    color:white;
    font-family: sans-serif;
}

.section-title{
    color: #2ddf5c;
    /* font-family: inherit; */
}

.main-header > div{
    display:inline-block;
}

.main-nav{
    display: inline-block;
    
}

.main-nav__items{
    
}

.main-nav__item{
    display: inline-block;
}


.main-header{
    width: 100%;
    background-color: #2ddf5c;
}